@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

.card_body_div {
  --aug-border-all: 2px !important;
  --aug-border-bg: black !important;
  --aug-inlay-bg: black !important;

  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  background-color: #4ed9ff;
  justify-items: center;
  width: 80vw;
}
.item_name {
  font-size: 1.5rem;
  color: #fbf500;
  margin: 0 auto;
  padding: 30px 0 15px 0;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'OriginTech', sans-serif;
  text-align: center;
}
.item_description {
  color: #fbf500;
  font-size: 0.75rem;
  font-weight: 600;
  margin: 10px;
  margin-top: 5px;
  overflow-y: scroll;
  font-family: 'OriginTech', sans-serif;
  text-align: center;
}

.weight_area {
  padding-top: 10px;
  color: #6ecbf5;
  font-family: 'OriginTech', sans-serif;
  height: 60%;
}
.delete_button {
  position: absolute;
  top: 8px;
  right: 8px;
}
