@import '../../../../node_modules/augmented-ui/augmented-ui';

.landingpage_body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-image: url(/Users/patrickmoller/hh-web-21-7/capstone-project/src/images/background-app-1.png);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;
}

.content_area_div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
}
.content_area_title {
  align-items: center;
  font-family: 'OriginTech', sans-serif;
  color: #fbf500;
  font-size: 50px;
  margin-bottom: 10px;
}
.submit_button {
  --aug-border-all: 4px;
  --aug-border-bg: #4ed9ff;

  background-color: #fbf500;
  border: 0;
  color: black;
  font-size: 20px;
  height: 60px;
  outline: 0;
  text-align: center;
  width: 70%;
  font-family: 'OriginTech', sans-serif;
  margin-right: auto;
  margin-left: auto;
}

.submit_button:active {
  background-color: #06b;
  color: snow;
}
