@import '../../../../node_modules/augmented-ui/augmented-ui.min.css';

.inputpage_div {
  display: flex;
  justify-items: center;
  background-image: url(/Users/patrickmoller/hh-web-21-7/capstone-project/src/images/background-app-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.button_div {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: transparent;
}
.form_div {
  width: 80vw;
  height: 50vh;
}
