.body_div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% auto 20%;
  justify-items: center;
  grid-template-areas: 'Top' 'Center' 'Bottom';
}
.placeholder_div {
  background-color: red;
  grid-area: Top Bottom;
}
