.button_area_div {
  --aug-all-height: 76px !important;
  --aug-border-all: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf500;
}
.button_area_div:active {
  transform: scale(0.98);
  box-shadow: 13px 12px 22px 11px rgba (247, 9, 9, 0.624);
}

.add_button_symbol {
  background-color: #fbf500;
  border: none;
  padding-top: 10px;
}
