.button_area_div {
  --aug-all-height: 64px !important;
  --aug-border-all: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1f7ff;
}
.add_button_symbol {
  background-color: #d1f7ff;
  border: none;
  padding-top: 10px;
}
