.mainpage_div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% auto;
  justify-items: center;
  grid-template-areas: 'Top' 'Bottom';
  position: relative;
  background-image: url(/images/background-app-1.png);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.header_div {
  width: 95%;
  height: 70%;
  grid-area: Top;
  position: sticky;
  align-self: center;
  background-color: transparent;
  top: 0;
  margin: 5px 0 0 -10px;
  z-index: 5;
}
.card_area_div {
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  overflow-y: scroll;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.button_div {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 15px;
  background-color: transparent;
}
.malus_div {
  z-index: 15;
  width: 80%;
  height: 20%;
  position: fixed;
  top: 350px;
  left: 50%;
  transform: translate(-44%, 0);
  background-color: transparent;
}
