.button_area_div {
  --aug-border-bg: #4ed9ff !important;
  --aug-all-height: 76px !important;
  --aug-border-all: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbf500;
}
.button_area_div:active {
  --aug-border-bg: #fbf500;

  transform: scale(0.5);
}

.back_button {
  background-color: #fbf500;
  border: none;
  padding-bottom: 0;
  padding-right: 8px;
  padding-left: 2px;
}
