textarea {
  resize: none;
}

.input_form {
  --aug-border-bg: #4ed9ff important!;

  background-color: #fbf500;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  justify-content: center;
}

.submit_button {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  width: 50%;
  margin-left: 70px;
  align-self: center;
}

.submit_button:active {
  background-color: #06b;
}
.labelTitle {
  font-family: 'OriginTech', sans-serif;
  font-size: 90px;
}
.lable_weight {
  font-family: 'OriginTech', sans-serif;
  color: grey;
}
.input_field {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  align-self: center;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.input_field_weight {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  align-self: center;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 2px 10px 0;
  width: 30%;
}
.spacing_div {
  padding-bottom: 10px;
}
