textarea {
  resize: none;
}

.input_form {
  --aug-border-bg: #4ed9ff !important;

  background-color: #fbf500;
  padding: 20px;
  display: grid;
  justify-content: center;
}
.labelTitle {
  font-family: 'OriginTech', sans-serif;
  font-size: 90px;
}
.lable_weight {
  font-family: 'OriginTech', sans-serif;
  color: grey;
  align-self: center;
  margin-left: 30px;
}
.input_field_weight {
  background-color: #303245;
  display: block;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 0.5em 1em;
}
.submit_button {
  background-color: #ff003c;
  border: 0;
  box-sizing: border-box;
  color: snow;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  outline: 0;
  text-align: center;
  width: 50%;
  margin-left: 70px;
  margin-top: 15px;
  align-self: center;
  font-family: 'OriginTech', sans-serif;
}

.submit_button:active {
  background-color: #1589e8;
}
